<launch>
    <arg name="interval" default="30" />
    <arg name="port" default="/dev/ttyS0" />
    <node name="worker" pkg="substrate_sensor_demo" type="worker_node" output="screen" respawn="true">
        <param name="interval" value="$(arg interval)" />
        <param name="port" value="$(arg port)" />
    </node>
</launch>
